<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @profile_owner.full_name %>'s Profile</h3>
    </div>
    <div class="panel-body">
      <center><img src="<%= @profile_owner.avatar_url %>" height="150px" title="<%= @profile_owner.full_name %>'s avatar" style="border-radius: 50%"></center>
      <% if @current_user && (@current_user.id == @profile_owner.id) %>
      <hr>
      <p>Welcome to Nelp, <%= @current_user.full_name %>.</p>
      <p>Here's the information we have on file for you:</p>
      <ul>
        <li>name: <%= @current_user.full_name %></li>
        <li>email address: <%= @current_user.email %></li>
      </ul>
      <% end %>
      <% if @not_a_local_user %>
        <hr>
        <p>You may optionally add a password to your Nelp account and log in with your email address and password in the future.</p>
        <p><a href="/users/<%=@current_user.id%>/createpassword" data-toggle="modal" data-target="#add-password">Add Password</a></p>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="add-password" tabindex="-1" role="dialog" aria-labelledby="add-password">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>