<div class="container">
  <center><img src="<%= @profile_owner.avatar_url %>" height="150px" title="<%= @profile_owner.full_name %>'s avatar" style="border-radius: 50%"></center>
  <% if @current_user && (@current_user.id == @profile_owner.id) %>
  <p>Welcome to the multi oauth test, <%= @current_user.full_name %>.</p>
  <p>Some useful information you granted access to:</p>
  <ul>
    <li>name: <%= @current_user.full_name %></li>
    <li>primary email address: <%= @current_user.email %></li>
  </ul>
  <% else %>
  <p>This is <%= @profile_owner.full_name %>'s profile.</p>
  <% end %>
  <% if @not_a_local_user %>
    <a href="/users/<%=@current_user.id%>/createpassword" rel="modal:open"> Add Password </a>
  <% end %>
</div>