<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/js/application.js"></script>

  <title>Authentication Skeleton</title>
</head>
<%= erb :_nav, layout: false %>
<body>
  <% if flash[:notice] %>
    <center>
      <div class="alert alert-info" data-dismiss="alert" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </center>
  <% end %>
  <% if flash[:error] %>
    <center>
      <div class="alert alert-danger" data-dismiss="alert" role="alert">
        <%= flash[:error] %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    </center>
  <% end %>
  <% if flash[:success] %>
    <center>
      <div class="alert alert-success" data-dismiss="alert" role="alert">
        <%= flash[:success] %>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    </center>
  <% end %>
  <%= erb :_login_providers, layout: false %>
  <%= erb :_login_modal, layout: false %>
  <%= erb :"user/_registration_modal", layout: false %>
  <%= yield %>
</body>
</html>